<section class="py-2">
    <div class="container">
        <div class="row align-items-center gx-4">
            <div class="col-md-5">
                <div class="ms-md-2 ms-lg-5">
                    <img
                        class="img-fluid rounded-3"
                        src="assets/images/about-page/TrainingImage.jpg"
                    />
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="ms-md-2 ms-lg-5">
                    <h2 class="display-5 fw-bold">About FootyCise</h2>
                    <p class="lead">
                        FootyCise is dé applicatie voor iedereen die trainingen
                        wil organiseren en samen sporten toegankelijker wil
                        maken. Met FootyCise kun je eenvoudig trainingen
                        samenstellen en oefeningen hieraan toevoegen, zodat je
                        samen je sportdoelen kunt bereiken. Stel een training op
                        met specifieke oefeningen die passen bij jouw doelen,
                        nodig anderen uit om deel te nemen, en creëer een
                        omgeving waarin teamwork en persoonlijke ontwikkeling
                        centraal staan. Of je nu zelf een training wilt opzetten
                        of je wilt aansluiten bij een bestaande groep, FootyCise
                        helpt je om alles soepel te laten verlopen. Maak trainen
                        en trainingen samenstellen makkelijker, efficiënter en
                        leuker met FootyCise!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row align-items-center gx-4">
            <!-- Text Column -->
            <div class="col-md-6">
                <div class="ms-md-2 ms-lg-5">
                    <h2 class="display-5 fw-bold">Hoe werkt het nu precies?</h2>
                    <p class="lead">
                        De bedoeling van FootyCise is dat je als gebruiker dus
                        trainingen aan kan maken. Hierbij hoor je vervoglens
                        training oefeningen aan toe te kunnen voegen. Zo heb je
                        een training samengesteld met mogelijk meerdere
                        oefeningen. Dit kan voor jezelf zijn of voor een groep.
                        Als het voor een groep zou zijn zouden andere gebruikers
                        zich aan kunnen melden voor deze training. Zo heb je een
                        duidelijk overzicht van de training en van wie meedoet
                        met de training.
                    </p>
                    <i>
                        Deze applicatie wordt gemaakt door Emre Çiftçi (2217014)
                        student bij Avans Breda
                    </i>
                </div>
            </div>
            <!-- Image Column -->
            <div class="col-md-6">
                <div>
                    <img
                        class="img-fluid rounded-3"
                        src="assets/images/about-page/ERD_Emre.png"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<!--Photo by <a href="https://unsplash.com/@jnov?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jean-François JOUET</a> on <a href="https://unsplash.com/photos/white-metal-frame-on-green-grass-field-under-blue-sky-during-daytime-bLTkkRXFb8U?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      -->
